.App {
  background: url("https://thumbs.dreamstime.com/b/%D1%81%D0%B0%D0%BC%D1%83%D1%80%D0%B0%D0%B8-26841942.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}


.localStorageButton {
  margin: 20px;
}
