p {
    margin: 0;
}

.settings {
    width: 200px;
    height: 230px;
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 12px;
}

.warning {
    border: 3px solid red;
    background: blanchedalmond;
    opacity: 0.8;
    color: red;
    font-weight: bold;
    outline: none;
}